.flex-center {
    @apply flex items-center;
}

.text15 {
    @apply text-[13px] md:text-[15px];
    line-height: 17.25px;
    font-weight: 400;
}

.text19 {
    font-size: 19px;
    line-height: 20px;
    font-weight: 500;
}

.text15-foo {
    @apply text-[13px] md:text-[15px];
    font-weight: 500;
    color: #5a5a5a;
    line-height: 16.9px;
}

.text17-foo {
    @apply text-[15px] md:text-[17px];
    font-weight: 700;
    line-height: 24px;
    color: #293843;
}

.main-title {
    font-size: 30px;
    font-weight: 500;
    line-height: 36.36px;
    color: #010101;
    margin-bottom: 30px;
}

.for-form-avto {
    background-color: #f4f4f4;
    border-radius: 5px;
}

.label14 {
    @apply text-[#050B20] text-xs sm:text-sm leading-[18px];
}

.placeholder15 {
    @apply outline-none text15 placeholder:text-[#5A5A5A];
}

.active {
    @apply transition-colors duration-500 bg-grayer text-white rounded-xl;
}

.custom-select select {
    appearance: none;

    cursor: pointer;
}

.custom-select::after {
    --size: 0.4rem;
    position: absolute;
    content: "";
    right: 1rem;
    pointer-events: none;
}

.custom-select::after {
    border-left: var(--size) solid transparent;
    border-right: var(--size) solid transparent;
    border-top: var(--size) solid black;
    top: 62%;
}

.kompny-us {
    background: url("images/n1.png") no-repeat, url("images/shina.png") no-repeat;
    background-position: right 4% bottom, right 31% bottom;
}
